# Baza danych
#data/
#*.sqlite
#*.sqlite3
#*.db

# Środowisko Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Streamlit cache
.streamlit/

# Zmienne środowiskowe / sekrety
.env
.env.*
secrets.toml

# Logi
*.log

# Edytory
.idea/
.vscode/
*.swp
*~

# macOS
.DS_Store

# Tymczasowe
*.tmp
*.bak
